body {
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper {
  width: fit-content;
}
.board {
  background-color: grey;
  margin: auto;
  position: relative;
  border: 3px groove black;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px darkgray;
}
.steering {
  display: flex;
  border-radius: 5px;
  border: 1px solid black;
  width: 300px;
  margin: 50px auto 10px auto;
  height: 150px;
  flex-wrap: wrap;
}
.steering button {
  width: 50%;
  font-size: 2rem;
}
.steering button:first-of-type,
.steering button:last-of-type {
  width: 100%;
}
.segment {
  background-color: rgb(31, 179, 31);
  border-radius: 5px;
}
#highscoreTable {
  visibility: hidden;
  margin: auto;
  width: 90%;
  margin-top: 5px;
  padding: 15px;
  padding-left: 25px;
  /* list-style: inside, decimal; */
}

.popupWrapper,
.gameOverWrapper {
  position: relative;
  width: 250px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: darkgrey;
}
.popupWrapper form {
  padding: 0;
  margin: 0;
  height: 120px;
}
.popupWrapper h3,
.popupWrapper h4 {
  margin: 3px auto;
}
.popupWrapper form input[type="text"] {
  width: 90%;
  margin: 5px auto;
  display: block;
  border: 1px solid black;
}

#popupClose {
  position: absolute;
  top: 3px;
  right: 5px;
  border-radius: 50%;
  border: 1px solid black;
}
#highScoreSave {
  position: static;
  border-radius: 10px;
  border: 1px solid black;
  float: right;
  margin-right: 10px;
}
#popupForHighscore,
#popupGameOver {
  position: absolute;
  left: 10%;
  top: 10%;
  opacity: 80%;
}
.score {
  font-size: 1.5rem;
}
